#jx06iframe {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    border: none;

    color: #71777d;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none;
    font: 14px/normal 'Roboto', Helvetica, Sans-Serif;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    z-index: 2147483647 !important;
    display: block !important;
}
