* {
  font-family: 'Noto Sans TC', 'Noto Sans TC', '微軟正黑體', "sans-serif";
}

#BigDiv {
  background-color: rgba(255, 255, 255, 0.97);
  /* 半透明的背景顏色 */
  /* height: 100vh; */
  /* width: 100vw; */
  min-height: 100vh;

}




.LR {
  display: flex;
  flex-flow: row nowrap;
}

.UD {
  display: flex;
  flex-flow: column;
}

#BigDiv>div {
  margin: 20px;
}

#BigDiv>div>div {
  margin: 20px;
  margin-top: 10px;
}

/* -------------------------------------------------------------- */

.Mytextarea1 {
  text-align: left;
  border: none;
  resize: none;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
  font-size: 18px;

}

#notes {
  border-spacing: 30px 5px;
}

.note {
  background-color: #fff3ac;
}


.aNote {
  background-color: #fff3ac;
  clip-path: polygon(calc(100% - 18px) 0%,
      100% 18px,
      100% 100%,
      0% 100%,
      0% 0%);
}

tr:not(.NewNote) td:hover .note {
  background-color: #fce97f;
}

tr:not(.NewNote) td:hover .aNote {
  background-color: #fce97f;
}

tr:not(.NewNote) td:hover .TimeAndDelete {
  background-color: #fce97f;
}

tr:not(.NewNote) td:hover .deleteNote {
  background-color: #fce97f;
}

.TimeAndDelete {
  background-color: #fff3ac;
  text-align: right;
  display: block;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 16px;
}

.deleteNote {
  background-color: #fff3ac;
  text-align: left;
  margin-right: 138px;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  font-weight: 590;
}

.deleteNote:hover {
  color: #f00;
}

.NewNote .Mytextarea1 {
  color: #4e4e4e;
}

.NewNote .deleteNote {
  background-color: #fdf9d9;
  text-align: left;
  margin-right: 126px;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  color: #cecece;
}

.NewNote .aNote {
  background-color: #fdf9d9;
}

.NewNote .TimeAndDelete {
  background-color: #fdf9d9;
  color: #afafaf;
}

.NewNote .note {
  background-color: #fdf9d9;
}

/* ---------------------------------------------------------- */
table {
  margin-right: 30px;
}

tbody {
  height: 0;
}

th {
  font-size: 20px;
  border-style: none none solid none;
  border-color: #555;
  width: 300px;
}

tr {
  display: block;
  margin-bottom: 10px;
}

td {
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  clip-path: polygon(calc(100% - 18px) 0%,
      100% 18px,
      101% 101%,
      -1% 101%,
      -1% -1%);
}

/* ------------------------------------------------------- */

h2 {
  font-size: 20px;
  text-align: center;
  border-style: none none solid none;
  border-color: #555;
  margin: 7px;
}

.Myinput1 {
  border: none;
  resize: none;
  box-sizing: border-box;
  outline: none;
  background-color: #edfcff;
  width: 230px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  align-items: center;
  justify-content: space-between;
  /* word-wrap:break-word; */
  margin-bottom: 15px;
  padding: 9px;
  background-color: #edfcff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  /* display: flex; */
}

.todo-text {
  flex-grow: 1;
  font-size: 20px;
}

.todo-time {
  white-space: nowrap;
  margin-top: 10px;
  font-size: 14px;
  color: #777;
  cursor: pointer;
  user-select: none;
  width: 80px;
  text-align: right;
  display: inline-block;
}

@media (max-width: 1221px) {
  .todo-time {
    text-align: left;
    margin-left: 8px;
  }
}

.todo-item:hover {
  background-color: #d8f1f7;
}

.todo-item:hover .Myinput1 {
  background-color: #d8f1f7;
}

.NewTodo.todo-item:hover .Myinput1 {
  background-color: #f9ffff;
}

.NewTodo.todo-item {
  background-color: #f9ffff;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
}

.sliding .todo-text {
  visibility: hidden;
}

.NewTodo .todo-text {
  background-color: #f9ffff;
  color: #777;
}

.todo-state {
  user-select: none;
}

.todo-state.S1 {
  font-size: 26px;
  margin-right: 10px;
  color: #a1ddff;
}

.todo-state.S2 {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 26px;
  color: #30f000;
  font-weight: 700;

}

.todo-state.S3 {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 26px;
  color: #f00000;
  font-weight: 600;
}

.todo-state.S4 {
  margin-right: 10px;
  margin-left: 0px;
  font-size: 26px;
  color: #ffa600;
  font-weight: 800;
}

.todo-state.DD {
  margin-right: -13px;
  margin-left: 5px;
  font-size: 26px;
  color: #810000;
  font-weight: 800;
  visibility: hidden;
  position: relative;
}

.todo-state.DD::before {
  color: #810000;
  content: "🗑︎";
  font-weight: bold;
  visibility: visible;
  display: absolute;
  top: 0;
  /* 與父元素上方對齊 */
  left: 0;
  /* 與父元素左側對齊 */
  z-index: 1;
  /* 設定較高的堆疊順序，覆蓋文字內容 */
}

.todo-state.DD:hover::before {
  color: #ff0000;
}

.NewTodo .todo-state {
  filter: grayscale(50%);
}

.TimeSliders {
  position: absolute;
  left: 42%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: calc(65%-5px); */
  width: 58%;
  margin-top: 5px;
}

/* --------------------------------------------------------- */
.signs {
  background-color: #ffe6e6;
  height: 300px;
  /* width: 210px; */
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: solid #ffe2e2 3px;

  text-align: center;
  font-size: 40px;
  line-height: 300px;
}

.signs:hover {
  background-color: #ffdede;
}

.MyButton1 {
  background-color: #ffffff;
  border: solid 1px #0000008e;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  margin-top: 10px;
  margin-bottom: 10px;
  margin: 5px;
  width: 50%;
  font-size: 20px;
  background-color: #ffe2e2;
}

.MyButton1:hover {
  background-color: #facccc;
}

#text {
  margin: 10px;
  font-size: 20px;
}

h2.h22 {
  border-color: #c3c3c3;
}