#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 190px;
    background-color: #f5f5f5;
    transition: width 0.3s;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #666;
}

#sidebar li div.active {
    background-color: #dddddd;
}

#main {
    margin-left: 190px;
    padding: 20px;
    height: 100vh;
    transition: margin-left 0.35s;
}

#main>div {
    height: 100%;
}

#main.collapsed {
    margin-left: 50px;
}

.page {
    display: none;
}

.page.active {
    display: block;
}


#sidebar.collapsed {
    width: 56px;
}


#sidebar.collapsed .Stext {
    animation: hindText 0.3s forwards;
}

@keyframes showText {
    0% {
        position: absolute;
        left: -90px;
        opacity: 0
    }

    15% {
        opacity: 0
    }

    30% {
        position: absolute;
    }

    100% {
        position: relative;
        left: 0px;
        opacity: 1
    }
}

@keyframes hindText {
    0% {
        position: relative;
        left: 0px;
        opacity: 1
    }

    15% {
        opacity: 0
    }

    20% {
        position: absolute;
    }

    100% {
        position: absolute;
        left: -90px;
        opacity: 0
    }
}


#sidebar:not(.collapsed) .Stext {
    animation: showText 0.3s forwards;
    /* position: relative; */
}

img.Icon {
    /* transform: scale(0.1); */
    height: 24px;
    margin: 13px;
}

li.menu {
    height: 60px;
}

div.menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

th {
    height: 34px;
    font-family: sans-serif;
    font-size: 16px;
}





td {
    height: 88px;
    border-top: 5px solid #ccc;
    padding: 5px 10px;
    /* background: linear-gradient(-90deg, red 0%, #ffffff 20%); */
}


.LR {
    display: flex;
    flex-flow: row nowrap;
}

.UD {
    display: flex;
    flex-flow: column;
}


.aTime {
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    width: 50%;
    line-height: 20px;

}

/* ------------------------------------------------ */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3d3d3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20.5px;
    width: 20.5px;
    left: 2px;
    top: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #8f8f8f;
}

input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.form {
    animation: showDiv 0.2s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.9);
    width: 600px;
    height: 200px;
    position: fixed;
    top: 200px;
    left: 320px;
}

.form.Invisible {
    display: none;
    opacity: 0;
}

@keyframes showDiv {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        opacity: 1;
        display: flex;
    }
}

.formL {
    width: 150px;
    margin-right: 70px;
}

.formL>div>* {
    margin: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formL>div {
    display: flex;
    align-items: center;
}

.formL input {
    width: 45px;
    height: 22px;
}

.form input {
    border-radius: 4px;
    border: solid 1px #0000008e;
}

#influenced1,#influenced2 {
    width: 70px;
}

#disableds {
    margin-top: 5px;
}

.timeInput {
    margin-top: 7px;
    margin-bottom: 7px;
}

/* ------------------------------------------------ */

.new-row select {
    color: #757575;
}

.Deactivate td {
    border-top: 5px dashed #e0dede;
}

tr.Deactivate>td>* {
    color: #a5a5a5;
}

.new-row td {
    border-top: 5px solid #f3f2f2;
}


/* #Rules { */
table {
    width: 850px;
    border-spacing: 30px 5px;
}

.aTag {
    height: 100%;
    width: 100%;
    border: none;
    font-weight: 600;
}

input {
    box-sizing: border-box;
    vertical-align: middle;
    outline: none;
}

.aRule {
    text-align: left;
    width: 100%;
    height: 100%;
    margin-top: 4px;
    resize: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}

h1 {
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 32px;
}

.menu>a {
    font-size: 18px;
    font-family: sans-serif;
}

.btn-column {
    margin-left: 840px;
    /* margin-top: -100px; */
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 30px;
}

.btn-column.showD {
    margin-left: 840px;
    opacity: 1
}

.btn-column>button {
    border: none;
    border-left: 5px solid #ccc;
    background-color: #f5f5f5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
}

tr.beSelected {
    position: relative;

}

.btn-column>input {
    height: 20px;
    width: 32px;
    border: 0px;
}

.BtnDiv {
    height: 100%;
    margin-left: 45px;
    padding-top: 225px;
}

.BtnDiv button {
    height: 22px;
    margin: 6px;
    background-color: #ffffff;
    border: solid 1px #0000008e;
    border-radius: 5px;
}